.__ {
    background-color: #ffffff;
    box-shadow: 0px 12px 50px 0px #0000000A;
    border-radius: 10px;
    height: calc(100dvh - 310px);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 800px;

    &header {
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;

        &__tag {
            background-color: #2C3E50;
            color: #ffffff;
            line-height: 28px;
            border-radius: 5px;
            padding: 0px 8px;

        }

        &__actions {
            width: 215px;
            display: flex;
            justify-content: space-around;
        }
    }

    &answer {
        display: flex;
        flex-direction: row;
        background-color: #EDF2F4;
        border-radius: 10px;
        align-items: center;
        padding: 0px 10px 0px 20px;
        margin: 4px;
        width: 100%;
        box-sizing: border-box;



        &__actions {
            flex: 1;
        }

        &:hover {
            button {
                display: block;
            }
        }

        &--correct {
            background-color: green;

            &:hover {
                button {
                    display: none;
                }
            }
        }

        &--answered {
            &:hover {
                button {
                    display: none;
                }
            }
        }

        &--wrong {
            background-color: red;

            &:hover {
                button {
                    display: none;
                }
            }
        }

        button {
            float: right;
            display: none;
            color: #ffffff;
            height: 42px;
            border-radius: 10px;
            font-weight: 800;
            font-size: 14px;
            background-color: #1CA78C;
            border: none;
            cursor: pointer;
            padding: 0px 30px;

        }

        &__option {
            margin: 0px 8px 0px 10px;
        }

        &__container {
            display: flex;
            position: relative;
            flex-direction: column;
            flex: 1;
            justify-content: end;
        }
    }
}